<div class="col-md-6">
    <div class="well" id="well1">
        Employees List
    </div>
    <div class="well" id="well2">
        <div id="emps-list">
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="well" id="well1">
        Employees Form
    </div>
    <div class="well" id="well2">
    <div class="panel">
    	<div class="panel-heading">
            Add/Edit Employee
        </div>
        <div class="panel-body">
            <div id="addEditEmployeeForm">
            </div>
        </div>
        <div id="emps-list">
        </div>
    </div>
        
    </div>
</div>
